th, td {
	border: 1px solid black;
	background-color: #FF7F50;
	color: #191970;
}

th{
	background-color: black;
	color: white;	
}

html{
	background-color: black;
}

body{
	text-align: center;
	background-color: lightblue;
	border: 10px solid white;
}

table{
	margin-left: auto;
	margin-right: auto;
	border: 5px solid yellow;
}

div {
	margin: 10px;
}

.hide{
	display: none;
}

.noBorder{
	border: none;
	background-color: lightblue;
}

#results{
	list-style-type: none;
}

p{
	font-size: large;
	color: #8B0000;
}

h1{
	font-family: Brush Script MT;
	color: #B22222;	
}